params {
    vaf_data = "${projectDir}/scripts/vaf_data.csv"
    outdir   = "results"
}

profiles {
    docker {
        docker.enabled = true
        process.container = 'python:3.9-slim'
    }
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.toLowerCase()}" },
        mode: 'copy'
    ]
}
